.contenedor{
    .contactos{
        display: flex;
        display: grid;
        background-color: $gris;
        opacity: .9;
        border-radius: 40px;
        grid-template-rows: 0.75fr 2fr 2fr;
        grid-template-areas: 
        "contacto"
        "formulario" 
        "informacion"
    }
    .titulos{
        background-color: $verde;
        border-radius: 40px;
        grid-area: contacto;
        text-align: center;
        h1{
            color: black;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }
    }
    .formulario{
        background-color: $gris;
        text-align: center;
        grid-area: formulario;
        justify-self: center;
        align-self: center;
        font-size: 20px;
        
        .items{
            display: flex;
            margin: 20px;
            padding: 10px;
        }
    }
    .informacion{
        background-color: $gris;
        text-align: center;
        grid-area: informacion;
        justify-self: center;
        align-self: center;
        font-size: 25px;
        ul{
            list-style-type: none;
        }
    }
}