*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Slab", serif;
}
body{
    background-color: $blanco;
    background-size: cover;
    background-image: url(../multimedia/fondo/bamboo.webp);
    background-attachment: fixed;
}